body{background-image: url("../img/hatter.jpg");
                        background-repeat: no-repeat;
                        background-size:  cover;}
/* This hides all pages */
.page {
    display: none;
}

/* This displays the first page */
.default {
    display: block;
}

/* This displays the page corresponding to the one you clicked on */
:target {
    display: block;
}

/* This hides the default page when another page is clicked */
:target ~ .default {
    display: none;
}
.page, :target ~ .default {
    display: none;
}

.default, :target {
    display: block;
}
.navbar{width: 90%;
        margin: auto;
        background-color:rgba(240, 248, 255, 0.5);
        }
.content{width: 90%;
         margin: auto;
         margin-top: 0.5%;}
      
nav a{text-decoration: none;
  padding: 10px;
  color: black;}


b{padding-left: 1rem;
  padding-right: 3rem;}

nav a:hover{color: grey;
       text-decoration: none;}
.menuelemek{float: right;
            padding-top: 20px;}
.dark{background-color: rgba(101, 101, 101, 0.66);}
.tartalom{background-color:rgba(240, 248, 255, 0.5);}
input{text-decoration: none;}
#foglalas{margin-left: 10px;
          padding-top: 10px;
          padding-bottom: 10px;
          width: 320px;  
          height: 390px;
          margin: auto;
          background-color: rgb(255, 255, 255);
          border-radius: 10px;}
#kepek{margin: auto;
      width: 600px;
      height:max-content;
      margin-top: auto;
      margin-bottom: auto;
        }

input{background-color:rgb(239, 239, 239);
      border: none;
      border-bottom: 2px solid black;
      width: 250px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;}
::placeholder {
  color: black;
  opacity: 1; 
}

.gomb{background-color:teal;
      color: white;
      border: none;
      border-radius: 3px;}
.foglalas2{margin-left: 8%;}
footer{width: 90%;
      margin-left: auto;
      margin-right: auto;
      background-color: rgba(101, 101, 101, 0.66);
      margin-top: 0.5%;
      text-align: justify;}
.logo2{width: 300px;}

.fa{color:rgb(39, 39, 39);}
.sm li{display: inline-block;
       color:black;
        padding-left: 93px;
        padding-right: 93px}
.sm .fa:hover{color: grey;}
.sm{list-style-type: none;
    font-size: 30pt;
    }
.info li{display: inline-block;
         color:black;
         padding-left: 40px;
         padding-right: 40px;}
.info p{text-decoration: none;
        color: rgb(39, 39, 39);}
.logo{width: 100px;}
.leiras{text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 80%;}
.leiras2{font-weight:500;
        color:rgb(46, 26, 2);}
.leiras b{font-weight: 600;
            color: rgb(78, 78, 78);}
.javaslatok{list-style-type: none;
            font-weight: 450;
            text-align: center}
#link{font-weight: 600;
     text-decoration: none;
     color: rgb(100, 0, 0);}
.kep{width: 400px;
      height: 299px;}

.foto{width: 320px;
      height: 250px;}

#rolunk p{text-align: justify;}

#alairas{font-weight: bold;}